* {
  box-sizing: border-box;
}
nav {
 background: #2b1055;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  
  margin: 0;
 color: white;
 font-size: 24px;
  text-decoration: none;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu li {
  margin: 0 1rem;
}
.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.text-p {
  color: #eeeaea;
  font-size: 1rem;
} 
.form-signin {
  margin: 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 7rem;
  
}
.wrapaper {
  background-color: #464c96;
  border-radius: 15px;
  padding: 5px 32px 64px;
  border: 1px solid rgb(148, 142, 206) ;
  box-shadow:0 8px 15px #eeeaea;
  overflow: hidden;
  display: block;
}
.dd {
 color: #ffffff;
text-align: center;
margin: 2rem 0;

}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.last p {
 color: #ffffff;
 
}
.last a {
 color: #0011f8;
 text-decoration: none;

 font-weight: 700;
 
}

.header {
  width: 300px;
  height: 100px;
  padding: 15px;


}
.header h2 {
  color: #ffffff;
}

.errors {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a944a9;
  color: #a94442;
  background: #f2def2;
  border-radius:5px ;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff9d8;
  border: 1px solid#3c763d;
  margin-bottom: 20px;
}

